@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Ubuntu&display=swap");

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: 0;
	font-family: "Poppins";
	--red: #da483b;
	--blue: #4486f4;
	--yellow: #ff9e0f;
	--green: #1ca45c;
}

html {
	scroll-behavior: smooth;
}

body {
	color: #242424;
	background-color: hsl(0, 0%, 90%);
	overflow-x: hidden;
}

.banner,
.Lbanner,
.Rbanner {
	background: rgba(0, 0, 0, 0.65) url("./assets/banner.webp");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;
	color: hsl(0, 0%, 100%);
	width: 100%;
	height: 100vh;
	padding: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	background-blend-mode: darken;
	flex-wrap: wrap;
}

.Lbanner {
	background: rgba(0, 0, 0, 0.65) url("./assets/bannerL.webp");
	background-position: bottom;
	background-size: contain;
	background-repeat: repeat;
}

.Rbanner {
	background: rgba(0, 0, 0, 0.65) url("./assets/bannerR.webp");
	background-position: top;
}

.gradient-text {
	color: transparent;
	background: linear-gradient(90deg, var(--blue), var(--red));
	background-clip: text;
}

.profilepic {
	border-radius: 50%;
	width: 11rem;
	height: 11rem;
	border-top: 0.5rem solid #da483b;
	border-bottom: 0.5rem solid #ff9e0f;
	border-left: 0.5rem solid #1ca45c;
	border-right: 0.5rem solid #4486f4;
	margin-top: 1rem;
}

.logohome {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	background-color: hsl(0, 0%, 100%);
	border-radius: 0.5rem;
	padding: 1rem;
}

.logohome > img {
	margin: 20px;
}

.header,
.header-center {
	background-color: hsl(218, 89%, 66%);
	color: #fff;
	flex-grow: 1;
}

.header-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.navlink {
	position: relative;
}

.navlink::after {
	content: "";
	height: 3px;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: green;
	transform: scale(0);
	transition: all ease 0.3s;
}

.navlink.active::after {
	transform: scale(1);
}

.footerhover {
	color: white;
	transition: ease-in-out 0.3s;
}

.footerhover:hover {
	color: rgb(27, 171, 255);
}

.leaderboard {
	max-width: 75vw;
	border-radius: 10px;
}

::-webkit-scrollbar {
	width: 7px;
	height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
	padding: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: hsl(0, 0%, 74%);
	border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
	padding: 2px;
	background-color: hsla(0, 0%, 60%);
}

@media (max-width: 400px) {
	.leaderboard {
		max-width: 95vw;
	}
}

.firstpos {
	color: hsl(51, 100%, 35%);
	background-color: hsl(51, 100%, 70%);
	font-weight: bold;
}
.secondpos {
	color: hsl(0, 0%, 40%);
	background-color: hsl(0, 0%, 80%);
	font-weight: bold;
}
.thirdpos {
	color: hsl(30, 60.8%, 40%);
	background-color: hsl(30, 60.8%, 75%);
	font-weight: bold;
}

.facilitators {
	gap: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 0.5rem;
	margin-bottom: 2rem;
	flex-wrap: wrap;
	width: 100%;
}

a {
	text-decoration: none;
	color: inherit
}